*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 5px;
    background-color: rgb(214, 214, 58);
    padding: 20px;
    

    .emailWarning{
        font-size: small;
        color: red;
    }
    .passWarning{
        color: red;
        font-size: small;
    }
    .confirmPassWarning{
        color: red;
        font-size: small;
    }
    .btnDiv{
        display: flex;
        align-items: center;
        justify-content: center;

        .btn{
            width: fit-content;
            /* margin-left: 30px; */
            padding: 5px;
            width: 90px;
            background-color: rgb(13, 158, 206);
            color: white;
            font-weight: bold;
            border: none;
            border-radius: 5px;
        }

    }
 
}